.main{
    background-color: hsl(240, 78%, 98%);
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-image: url(https://gitlab.com/mountblue/js/pricing-html-css/-/raw/master/images/bg-bottom.svg),
    url(https://gitlab.com/mountblue/js/pricing-html-css/-/raw/master/images/bg-top.svg);
    background-position: 0 100%, 100% 0;
    background-repeat: no-repeat, no-repeat;
}
.top-head{
    color: hsl(233, 13%, 49%);
}
.toggle-part{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}
.season{
    color:  hsl(235, 24%, 68%);
    font-size: 13px;
}
.toggle{
    display:flex;
    justify-content: end;
    height:1rem;
    width:2.1rem;
    border-radius: 25px;
    border:0px solid;
    background-color:hsl(236, 52%, 84%);
    padding: 3px;
}
.toggle-switch{
    background-color: white;
    height: 94%;
    width:43%;
    color: white;
    border-radius: 27px;
}
.prices-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:75%;
    width: 85%;
    margin-top: 0.5rem;
}
.basic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height:73%;
    width:21%;
    box-shadow:black;
}
.professional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    height:78%;
    width:21%;
    color: white;
    border-radius: 1rem;
}
.master{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height:73%;
    width:21%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: black;
}
.line{
    font-size: 13px;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
}
.p-line{
    font-size: 13px;
    font-weight:700;
}
.doller{
    font-size:1.3rem;
    align-self: center;
    margin: 9px;
}
.price{
    display: flex;
    font-size:2.6rem;
    margin: 0.5rem;
}
.switch{
    color: white;
    font-weight: bold;
    background:linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    border:0px solid #7b60e6;
    height:7%;
    width: 81%;
    margin: 15px;
    border-radius: 4px;
}
.switch-text{
    color:hsl(237, 63%, 64%);
    font-weight: bold;
    background-color:white;
    border:1px solid white;
    height:7%;
    width: 81%;
    margin: 15px;
    border-radius: 4px;
}
.switch:hover{
    background: transparent;
    color:#7b60e6;
    border: 1px solid #7b60e6;
    cursor: pointer;
}
.switch-text:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.h-line{
    color: hsl(240, 16%, 96%);
    width: 80%;
    opacity:40%;
}



@media (max-width:575px){
    .main{
        height: 100%;
        max-width:100vw;
    }
    .toggle-part{
        width: 55%;
    }
    .prices-container{
        flex-direction: column;
        align-items: center;
    }
    .basic, .professional, .master{
        height: 29%;
        width:66%;
        margin:16px;
        border-radius: 10px;
    }
    .switch, .switch-text{
        height:33px;
    }
}
